/* BASE STYLING  */

body {
    font-family: 'Wellfleet', monospace;
    background-image: url("../images/pp4-background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: medium;
}


textarea {
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
    color: white;
}

/* django response messages styling */
.success {
    background-color: rgba(75, 181, 67, 0.5);
    color: white;
    border-radius: 10px;
}

.error {
    background-color: rgba(255, 51, 51, 0.5);
    color: white;
    border-radius: 10px;
}

/* Items background styling*/
.bg-dark {
    --bs-bg-opacity: .8;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.nav-bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.modal-background {
    background-color: rgba(23, 38, 65, 0.9);
}

.card-bg {
    background-color: rgb(23, 38, 65) !important;
    border: 1px solid rgb(56, 67, 109) !important;
}

.card-bg-opacity {
    background-color: rgba(23, 38, 65, 0.5);
    border: 1px solid rgb(23, 38, 65);
}

.card-bg-opacity:hover {
    border: 1px solid rgba(237, 105, 102, 0.5);
}

.dropdown-menu,
.navbar {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(23, 38, 65, 0.9) !important;
    border-radius: 10px;
    z-index: 999999 !important;
}

.dropdown-item:hover {
    color: rgb(185, 24, 24);
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
}

.custom-textarea {
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
    color: white;
    max-width: 70vw !important;
}

.custom-select {
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
    color: white;
}

.card {
    color: white;
    border: 1px solid rgb(23, 38, 65);
    margin: 0px;
}

/* Buttons styling */

.product-delete-btn {
    margin-bottom: 20px;
}

.product-title {
    border: 1px solid rgba(237, 105, 102, 0.5);
    border-radius: 5px;

}

.product-title:hover {
    border: 1px solid rgb(185, 24, 24)
}

.logobtn {
    text-decoration: none;
    display: flex;
    align-items: start;
    justify-content: start;
}

.logobtn,
.orange-btn {
    color: rgb(237, 105, 102);
    margin-bottom: 10px;
    border-radius: 5px;
}

.orange-btn:hover {
    color: rgb(185, 24, 24);
}

.nav-btn-dropdown {
    background-color: rgb(23, 38, 65) !important;
    border: 1px solid rgb(56, 67, 109) !important;
}

.deletebtn {
    background-color: rgb(185, 24, 24);
}

.deletebtn:hover {
    color: rgb(185, 24, 24);
    border: 1px solid rgb(185, 24, 24);
}

.sold-btn {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(237, 105, 102);
}

.sold-btn:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(185, 24, 24);
    color: rgb(185, 24, 24);
}

.signupbtn {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(237, 105, 102);
    margin: 20px 0px;
}

.signupbtn a {
    text-decoration: none;
    color: inherit;
}

.signupbtn:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(185, 24, 24);
    color: rgb(185, 24, 24);
}


.delete-comment {
    color: rgb(185, 24, 24);
}

input[type="text"],
input[type="email"],
input[type="password"],
select.form-control {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
    color: white;
    opacity: 0.8;
    /* Needed for Firefox browsers */
}

::-ms-input-placeholder {
    /* Needed for Edge 12 -18 browsers */
    color: white;
}


/* Customize the calendar table */
.ui-datepicker {
    font-size: 14px;
    background-color: rgb(23, 38, 65);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#datetimepicker {
    background-color: rgba(23, 38, 65, 0.9);
    color: white;
}

.ui-slider {
    color: white;
}

/* comments font styling */
.author-time-comment-font {
    font-size: smaller;
    opacity: 0.8;
}


/* POSTMAN APP STYLING */

.ui-helper-hidden-accessible {
    display: none;
}

.ui-widget-content {
    height: auto;
    padding: 10px 0;
}


.postman-nav-btn {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(237, 105, 102);
}

.postman-nav-btn a {
    text-decoration: none;
    color: inherit;
}

.postman-nav-btn:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(185, 24, 24);
    color: rgb(185, 24, 24);
}

.pm_action {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(237, 105, 102);
    padding: 3px;
    border-radius: 5px;

}

.pm_action:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(185, 24, 24);
}

.pm_btn:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(185, 24, 24);
    color: rgb(185, 24, 24);
}

.pm_date {
    color: rgba(211, 211, 211, 0.6);
}

.pm_subject {
    color: rgba(211, 211, 211, 0.6);
}

.pm_header {
    padding-top: 5px;
}

.pm_sender {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

.pm_recipient {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

.pm_message {
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
    border: 1px solid rgb(56, 67, 109);
    margin-top: 5px;
}

#pm_messages thead a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    padding: 3px;
}

#delete-btn,
#archive-btn,
#mark-read-btn,
#mark-unread-btn,
.pm_btn {
    margin-top: 15px;
    margin-bottom: 20px;
}

.menu-button-z-index {
    z-index: 1 !important;
}

/* MARKETPLACE APP STYLING */
/* modal styling */
.modal-product-background {
    background-color: rgba(56, 67, 109, 0.5);
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow-y: auto;
}

/* genral marketplace styling */
.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
    border-radius: 2rem;
}

.sold-overlay.active {
    opacity: 1;
    z-index: 1;
}

.product-item {
    position: relative;
}

.card-text {
    margin-bottom: 0;
    padding-bottom: 20px;
    /* or whatever your margin was */
}



@media (max-width: 768px) {
    .create_event {
        width: 100% !important;
    }

    .form-width-small-screen {
        max-width: 70vw !important;
        height: auto;
    }

    #event-cards {
        width: 95%;
    }

    body {
        font-size: 12px;
    }
}