body {
    font-family: 'Wellfleet', monospace;
    background-image: url("../images/pp4-background.gif");
}

.bg-dark {
    --bs-bg-opacity: .5;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card-bg {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(23, 38, 65);
}

.custom-textarea {
    background-color: rgba(23, 38, 65, 0.5);
    border-radius: 10px;
    color: white;
}

.card {
    color: white;
    border: 1px solid rgb(23, 38, 65);
    margin: 0px;
}

.logomm,
.navmm {
    color: rgb(237, 105, 102);
}

.navmm:hover {
    color: rgb(185, 24, 24)
}

.signupbtn {
    background-color: rgb(56, 67, 109);
    border: 1px solid rgb(23, 38, 65);
    color: rgb(237, 105, 102);
    margin:20px 0px;
}

.signupbtn:hover {
    background-color: rgb(23, 38, 65);
    border: 1px solid rgb(56, 67, 109);
    color: rgb(237, 105, 102);
}

input[type="text"],
input[type="email"],
input[type="password"],
select.form-control {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
::placeholder {
    color: white;
    opacity: 0.8; /* Needed for Firefox browsers */
}
::-ms-input-placeholder { /* Needed for Edge 12 -18 browsers */
    color: white;
}

#datetimepicker {
    background-color: rgba(23, 38, 65, 0.5);
    color: white;
}
/* Customize the calendar table */
.ui-datepicker {
    font-size: 14px;
    background-color: rgb(23, 38, 65);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
