{% extends "base.html" %}
{% load i18n static %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}
{% block extrahead %}{{ block.super }}
<link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}">
{% endblock %}
{% block postman_menu %}
<div class="dropdown">
    <button class="btn dropdown-toggle signupbtn orange-btn" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Menu <i class="fa-solid fa-bars"></i></button>
<ul id="postman_menu" class="dropdown-menu">{% postman_unread as unread_count %}
    <li><a class="dropdown-item postman-nav-btn orange-btn" href="{% url 'postman:inbox' %}">Inbox</a></li>
    <li><a class="dropdown-item postman-nav-btn orange-btn" href="{% url 'postman:sent' %}">Sent messages</a></li>
    <li><a class="dropdown-item postman-nav-btn orange-btn" href="{% url 'postman:write' %}">Write message</a></li>
    <li><a class="dropdown-item postman-nav-btn orange-btn" href="{% url 'postman:archives' %}">Archives</a></li>
    <li><a class="dropdown-item postman-nav-btn orange-btn" href="{% url 'postman:trash' %}">Trash</a></li>
</ul>
</div>
{% endblock %}