{% extends "postman/base.html" %}
{% load i18n static %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#
<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}
<div id="postman">
    <form method="post" action="{% url 'postman:write' %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                {{ form.recipients }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ form.subject }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ form.body }}
            </div>
        </div>
        <div class="form-row">
            <input class="postman-nav-btn orange-btn" type="submit" value="Send Message">
        </div>
    </form>
</div>
{% block page_scripts %}
<script type="text/javascript">
    $(function () {
        // Initialize autocomplete
        $("#id_recipients").autocomplete({
            source: "{% url 'postman:autocomplete_recipients' %}",
            minLength: 2 // Minimum number of characters before autocomplete starts
        });
    });
</script>
{% endblock %}
{% endblock %}