{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}
<div>
    
    <h1>Public Events</h1>
        {% if public_events %}
    <ul>
            {% for event in public_events %}
        <li>
            <h2>{{ event.title }}</h2>
            <p>Description: {{ event.description }}</p>
            <p>Date & Time: {{ event.date }}</p>
            <p>Creator: {{ event.creator.username }}</p>
        </li>
            {% endfor %}
    </ul>
        {% else %}
    <p>No public events available.</p>
        {% endif %}
{% endblock %}
{% endif %}