{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}
<h1 class="text-center">Your Events</h1>
{% for message in messages %}
{% if message.tags %}
<div class="{{ message.tags }} message">
{% endif %}
{{ message }}
</div>
{% endfor %}
<div class="d-flex justify-content-center flex-wrap">
    {% if user_participating_events %}
    {% for event in user_participating_events %}
    <div class="w-75 mb-3 rounded-5">
        <div class="card-bg-opacity rounded-5">
            <h2 class="card-title">{{ event.title }}</h2>
            <p class="card-text"><i class="fa-solid fa-pen"></i> {{ event.description }}</p>
            <p class="card-text"><i class="fa-regular fa-calendar-days"></i> <i class="fa-solid fa-clock"></i> {{ event.date }}</p>
            <p class="card-text">Created by <i class="fa-solid fa-user"></i> : {{ event.creator.username }}</p>
            <p class="card-text">Participants: {{ event.participants.count }}</p>
            {% if user.is_authenticated and user == event.creator %}
            <ul style="list-style-type: none;">
                {% for participant in event.participants.all %}
                    <li><i class="fa-solid fa-user"></i> {{ participant.username }}</li>
                {% endfor %}
                {% if event.is_private %}
                    <li><i class="fa-solid fa-key"></i> {{ event.access_code }}</li>
                {% endif %}
            </ul>
            <div>
                <a href="{% url 'edit_event' event.id %}" class="btn signupbtn orange-btn m-1 btn-sm">Edit Event</a>
            </div>
            {% endif %}
            <a href="{% url 'event_detail' event.id %}" class="btn signupbtn orange-btn">Communicate <i class="fa-solid fa-comments"></i></a>
            <button type="button" class="btn signupbtn orange-btn" disabled>Joined</button>
            {% if user.is_authenticated and user == event.creator %}
            <a href="{% url 'delete_event' event.id %}" class="btn deletebtn">Delete Event</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You haven't joined any events yet.</p>
    {% endif %}
</div>
{% endblock %}
{% endif %}